{% extends "base.html" %}

{% block title %}Login {% endblock %}

{% block body %}

<h2> Login </h2>

 <a href="{{url_for('register')}}">Dont have an account? Register here</a>
 
<form method="POST" action="{{url_for('login')}}" >

   <fieldset class="grid">

      <input 
        name="email"
        placeholder="email"
        aria-label="email"
        autocomplete="email" />

      <input
        type="password"
         name="password"
         placeholder="Password"
         aria-label="Password"
         autocomplete="current-password"/>

      <input
         type="submit"
        value="Log in"/>

   </fieldset>

</form>

{% endblock %}
